* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #333;
}

header {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #fff;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    display: block;
}


.toggle {
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    float: left;
    top: 0;
    position: relative;
    vertical-align: middle;
}
.logo {
    float: left;
    min-width: 200px;
    height: 100%;
}
nav {
    display: block;
}

main {
    position: relative;
}

.card {
    display: flex;
    padding: 5px;
    flex-wrap: wrap-reverse;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}
.card:nth-of-type(odd) {
    flex-direction: row-reverse;
}
.card h3 {
    color: deeppink;
    font-size: 1.5em;
}
h3 span {
    margin-right: 10px;
}
.detail, .img {
    flex-grow: 1;
    width: 50%;
}
@media screen and (max-width: 655px) {
    .slogs {
        padding: 10px;
        text-align: center;
    }
    .slogs h1 {
        font-size: 2.5em;
        margin-bottom: 15px;
    }
    .slogs h4 {
        word-spacing: 1px;
        letter-spacing: 1px;
        margin-bottom: 50px;
    }
    .services {
        padding: 5px;
        overflow: hidden;
    }
    .detail, .img {
        width: 100%;
    }
}
.detail {
    display: grid;
    padding: 20px;
}
.detail p {
    padding-right: 20px;
    word-break: break-all;
    line-height: 1.5;
    font-size: 1em;
}
.img-deck img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

@media screen and (max-width: 765px) {
    header {
        position: relative;
    }
    nav {
        position: absolute;
        background-color: white;
        z-index: 5;
        top: 100%;
        left: 0;
        height: 0;
        width: 100%;
        display: none;
        transition: all 0.3s ease-in-out;
    }
    header .toggle + header nav,
    nav:target {
        height: auto;
        display: block;
    }
    nav ul,
    nav li,
    #menu li {
        display: block;
        border: none;
        margin: 0;
        padding: 5px;
    }
    ul ul {
        position: relative;
        background-color: transparent;
        box-shadow: none;
        border: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 0;
        transition: all 0.1s;
    }
    li:hover ul {
        height: 100%;
    }
    ul ul:hover {
        box-shadow: none;
    }
}